*{
  margin: 15px;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #EFC2DE; */
  background-color:#FECC68 ;

  font-family:fantasy;

}

h1 {
  text-align: center;
  font-size: 70px;
  background-color: #F9D48C;


  }



/* @media screen and (max-width: 600px){
body {
  background: ;
    }
} */

h1 {
  margin: 20px;
}

img {
  height : 350px;
  width: 400px;
  background-color: white;


  object-fit: cover;

  border: 20px solid #fff;
  border-bottom: 60px solid #fff;


}


.pictures {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  flex-wrap: wrap;
  justify-content:space-between;
}
